[package]
name = "dns-resolver"
version = "0.1.0"
authors = ["cssivision <cssivision@gmail.com>"]
license = "MIT"
repository = "https://github.com/cssivision/dns-reolver"
homepage = "https://github.com/cssivision/dns-reolver"
description = "dns resolver based on future"
readme = "README.md"
edition = "2018"

[dependencies]
slings = "0.2"
domain = "0.6"
resolv-conf = { version = "0.7.0", features = ["system"] }
